div {
    background-color: #22915b;
    min-height: 100vh;
    display: flow;
    flex-direction: column;
}

div > * {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
}

div > app-header,
div > app-nav,
div > app-main,
div > app-footer {
    padding: 30px;
}
