<article *ngIf="company">
    <header><h2>Edit company</h2></header>

    <form #form="ngForm" (ngSubmit)="onSubmit()" class="container">
        <div class="row">
            <div class="col-4 p-2">
                <div>
                    <label for="name">Name:</label>
                    <input [(ngModel)]="company.name" id="name" name="name"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4 p-2">
                <div>
                    <label for="cost">NIP:</label>
                    <input [(ngModel)]="company.nip" id="cost" name="cost"/>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-2 p-2">
                <button type="submit">Update</button>
            </div>
        </div>
    </form>
</article>
